/*desktop*/

.bigger {
    margin-left: 20px;
    background-color: #4d4d4d;
    padding: 10px;
    max-width: 60%;
    border-radius: 5px;
  }
  
  .normal {
    margin-left: 20px;
    background-color: #4d4d4d;
    padding: 10px;
    max-width: 20%;
    border-radius: 5px;
  }
  
  .kisu-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    gap: 10px;
    padding-inline: 10px;
  }
  
  .kisu-list-tile {
    margin:40px;
    margin-left:2px;
    border: 0px solid;  
    border-radius: 0px;
    border-color:#161616;
    color: black;
    background-color:antiquewhite;}
  
  .kisu-list-title{
    margin-left:20px;
    margin-bottom:10px;
    font-size: 26px;
    font-weight: bold;
  }
  
  .kisu-list-tile a {
    color: #161616;
    text-decoration: none;
  }
  
  .kisu-list-tile img {
    margin:0px;
    background-color: #4D4D4D;
    padding:10px;
    max-width: 95%;
    border-radius: 0px;
  }
  
  .kisu-list-info {
    margin-left: 15px;
    font-size:16px;
  }
  
  .kisu-list-container button {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .kisu-gallery-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-inline: 10px;
  }
  
  .kisu-gallery-tile {
    margin-left: 20px;
    border-radius: 5px;
    border-color: #161616;
    max-width: 90%;
    color: black;
  }
  
  .kisu-gallery-tile img {
    background-color: #4d4d4d;
    padding: 10px;
    max-width: 40%;
    border-radius: 5px;
  }
  
  .kisu-gallery-tile img:hover {
    border-color: red;
  }
  
  .kisu-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #ffead0;
    color: #4d4d4d;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .kisu-type:hover {
    color: #ffead0;
  }
  
  .kisu-type:focus {
    outline: none;
  }
  
  .kisu-type.selected {
    color: #ffead0;
  }
  
  .kisu-type.simple:hover,
  .kisu-type.simple.selected {
    background-color: #e17654;
  }
  
  .kisu-type.rugged:hover,
  .kisu-type.rugged.selected {
    background-color: #115e59;
  }
  
  .kisu-type.luxury:hover,
  .kisu-type.luxury.selected {
    background-color: #161616;
  }
  
  .kisu-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4d4d4d;
  }
  
  i[class*="kisu-type-"] {
    padding: 7px 14px;
  }
  
  .kisu-detail-container {
    position: relative;
    height: 40vh;
    border: 33px solid;
    border-color: #e17654;
    margin: 20px;
    background-color: lightgray;
  }
  
  .kisu-detail-info {
    margin-top: 100px;
    text-align: center;
    font-size: 26px;
  }
  
  .kisu-detail-normal img {
    position: absolute;
    margin-top:50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    border-radius: 20px;
  }
  
  .kisu-detail-bigger img {
    position: absolute;
    margin-top:100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 70%;
    border-radius: 20px;
  }
  
  .kisu-detail h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .kisu-detail > i {
    align-self: flex-start;
  }
  
  .kisu-detail .link-button {
    background-color: #ff8c38;
    color: white;
    font-size: 1.125rem;
  }
  
  .kisu-detail-taulu {
    margin: 1% auto;
    font-size: 16px;
    font-weight: bold;
  }
  
  .row {
    display: table-row;
  }
  
  .cell {
    display: flex;
    border: 1px solid black;
    padding: 8px;
  }

  @media only screen and (max-width: 1080px) and (max-height: 2400px) {
   /*kisulit*/
   .bigger {
    margin-left: 20px;
    background-color: #4d4d4d;
    padding: 10px;
    max-width: 60%;
    border-radius: 5px;
  }
  
  .normal {
    margin-left: 20px;
    background-color: #4d4d4d;
    padding: 10px;
    max-width: 20%;
    border-radius: 5px;
  }
  
  .kisu-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    gap: 10px;
    padding-inline: 10px;
  }
  
  .kisu-list-tile {
    margin:40px;
    margin-left:2px;
    border: 0px solid;  
    border-radius: 0px;
    border-color:#161616;
    color: black;
    background-color:antiquewhite;}
  
  .kisu-list-title{
    margin-left:20px;
    margin-bottom:10px;
    font-size: 26px;
    font-weight: bold;
  }
  
  .kisu-list-tile a {
    color: #161616;
    text-decoration: none;
  }
  
  .kisu-list-tile img {
    margin:0px;
    background-color: #4D4D4D;
    padding:10px;
    max-width: 95%;
    border-radius: 0px;
  }
  
  .kisu-list-info {
    margin-left: 15px;
    font-size:16px;
  }
  
  .kisu-list-container button {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .kisu-gallery-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-inline: 10px;
  }
  
  .kisu-gallery-tile {
    margin-left: 20px;
    border-radius: 5px;
    border-color: #161616;
    max-width: 90%;
    color: black;
  }
  
  .kisu-gallery-tile img {
    background-color: #4d4d4d;
    padding: 10px;
    max-width: 40%;
    border-radius: 5px;
  }
  
  .kisu-gallery-tile img:hover {
    border-color: red;
  }
  
  .kisu-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #ffead0;
    color: #4d4d4d;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .kisu-type:hover {
    color: #ffead0;
  }
  
  .kisu-type:focus {
    outline: none;
  }
  
  .kisu-type.selected {
    color: #ffead0;
  }
  
  .kisu-type.simple:hover,
  .kisu-type.simple.selected {
    background-color: #e17654;
  }
  
  .kisu-type.rugged:hover,
  .kisu-type.rugged.selected {
    background-color: #115e59;
  }
  
  .kisu-type.luxury:hover,
  .kisu-type.luxury.selected {
    background-color: #161616;
  }
  
  .kisu-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4d4d4d;
  }
  
  i[class*="kisu-type-"] {
    padding: 7px 14px;
  }
  
  .kisu-detail-container {
    position: relative;
    height: 40vh;
    border: 33px solid;
    border-color: #e17654;
    margin: 20px;
    background-color: lightgray;
  }
  
  .kisu-detail-info {
    margin-top: 100px;
    text-align: center;
    font-size: 26px;
  }
  
  .kisu-detail-normal img {
    position: absolute;
    margin-top:50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    border-radius: 20px;
  }
  
  .kisu-detail-bigger img {
    position: absolute;
    margin-top:100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 70%;
    border-radius: 20px;
  }
  
  .kisu-detail h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .kisu-detail > i {
    align-self: flex-start;
  }
  
  .kisu-detail .link-button {
    background-color: #ff8c38;
    color: white;
    font-size: 1.125rem;
  }
  
  .kisu-detail-taulu {
    margin: 1% auto;
    font-size: 16px;
    font-weight: bold;
  }
  
  .row {
    display: table-row;
  }
  
  .cell {
    display: flex;
    border: 1px solid black;
    padding: 8px;
  }
 
}